$bg-card: hsl(0, 0%, 100%);
$bg-body: hsl(212, 45%, 89%);
$clr-title: hsl(218, 44%, 22%);
$clr-text: hsl(220, 15%, 55%);
$ft-title: 1.1rem;
$ft-text: .90rem;
$ft-family: 'Outfit',
sans-serif;
$pd-title: 0 10px;
$pd-text: 0 10px;